## Testing the Gecoder
<p>25th February </p>

In [42]:
import pandas as pd
dict = {"Actif_adresse": ["14 rue des pavillions","6 rue germaine tillion"], "Commune": ["Puteaux","Bondy"]}
df =pd.DataFrame(data=dict)
df

            Actif_adresse  Commune
0   14 rue des pavillions  Puteaux
1  6 rue germaine tillion    Bondy

In [43]:
df.Actif_adresse[1]

'6 rue germaine tillion'

In [44]:
def actif_geocoder(data, address_column:str)-> list:
    """Function that geocodes the addresses in the data frame"""
    import requests
    import json
    import numpy as np
    coord = []
    address_book =[]
    ## collect the adress and the comune from the data frame
    for i in range(len(data.Actif_adresse)):
        #print(i)
        address_text = (data.Actif_adresse[i]+ " "+ data.Commune[i])
        ## connect to the api and send request
        url = "https://api-adresse.data.gouv.fr/search/"+"?q="+str(address_text)
        payload = {}
        headers = {}
        response =requests.request("GET",url,headers=headers, data=payload)
        ## serializing the response object
        coord.append(response.json()['features'][0]['geometry']['coordinates'])
        ## append the cordinates to the data Frame
    longitude = [x[0] for x in coord]
    latitude = [x[1] for x in coord]
    data['X']= np.array(longitude)
    data['Y'] = np.array(latitude)
    ## write data to a file and return
    ## data.write_csv()
    return data

In [ ]:
def actif_geocoder(data, address_column:str)-> list:
    """Function that geocodes the addresses in the data frame"""
    import requests
    import json
    import numpy as np
    coord = []
    address_book =[]
    ## collect the adress and the comune from the data frame
    for i in range(len(data.address_column)):
        #print(i)
        address_text = str(data.address_column[i])
        ## connect to the api and send request
        url = "https://api-adresse.data.gouv.fr/search/"+"?q="+str(address_text)
        payload = {}
        headers = {}
        response =requests.request("GET",url,headers=headers, data=payload)
        ## serializing the response object
        coord.append(response.json()['features'][0]['geometry']['coordinates'])
        ## append the cordinates to the data Frame
    longitude = [x[0] for x in coord]
    latitude = [x[1] for x in coord]
    data['X']= np.array(longitude)
    data['Y'] = np.array(latitude)
    ## write data to a file and return
    ## data.write_csv()
    return data

In [45]:
df2 =actif_geocoder(data=df)
df2

            Actif_adresse  Commune         X          Y
0   14 rue des pavillions  Puteaux  2.243298  48.882606
1  6 rue germaine tillion    Bondy  2.479733  48.913409

In [46]:
df2

            Actif_adresse  Commune         X          Y
0   14 rue des pavillions  Puteaux  2.243298  48.882606
1  6 rue germaine tillion    Bondy  2.479733  48.913409

In [40]:
## 1. update the function compatibility to work with any kind of Data frame
## 2. User required to just indicate the names of the adress columns and the city/Commune
## 3. return a new data frame in the working directory

Help on function actif_geocoder in module __main__:

actif_geocoder(data) -> list
    Function that geocodes the addresses in the data frame